.row {
    padding: 5%;
}

.card {
    max-width:20rem;
    max-height:20rem;
}

.div-img{
    max-height: 20rem;
    max-width: 20rem;
    display: flex;
    align-items: center; 
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.card-img-top {
    width:auto;
    height:auto;
}
