<!-- Modal -->
<div class="modal fade" id="postModal_{{post.pk}}" tabindex="-1" aria-hidden="true" data-post="{{ post.pk }}" >
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="container-fluid">
                    <div class="row p-0">
                        <div class="col d-flex flex-column p-0">
                            <img class="w-100" src="{{ post.image.url }}" alt="">
                        </div>
                        <div class="col-7 text-bg-dark">
                            <div class="post-info">
                                <h3>{{ post.author }}</h3>
                                <p>{{ post.text }}</p>
                            </div>

                            <div class="commentContainer">
                                
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Ваш комментарий...">
                                <button class="btn btn-outline-primary" type="button" onclick="add_comment(this)">Отправить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>