{% extends 'base.html' %}
{% load static %}

{% block title %} Демо Bootstrap {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'feed/feed.css' %}"> {% endblock %}

{% block content %}

{% include '_navbar.html' %}

<!-- {% for post in posts %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="post-author">{{ post.author }}</div>
      <div class="post-text">{{ post.text }}</div>
      <div class="post-img">
        <img src="{{ post.image.url }}" alt="post-image">
      </div>
      <div class="post-date">{{ post.pub_date }}</div>
      <div class="post-likes">{{ post.likes }}</div>
      <div class="post-dislikes">{{ post.dislikes }}</div>
    </div>
  </div>
</div>
{% endfor %} -->

<!-- <div class="container cont">
  <div class="row">
    <div class="col">
      <div class="post-author"></div>
      <div class="post-text"></div>
      <div class="post-img">
        <img src="http://www.quickmeme.com/img/43/43eaabace366a40307922e9973737a9c7511a648395268939c3008e0b81095f9.jpg" alt="post-image">
      </div>
      <div class="post-date"></div>
      <div class="post-likes"></div>
      <div class="post-dislikes"></div>
    </div>
  </div>
</div> -->

<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col">
      <div class="card mx-auto">
        <div class="div-img">
          <img src="https://kartinkin.net/uploads/posts/2022-02/1645375613_1-kartinkin-net-p-kartinki-vertikalnie-1.jpg" class="card-img-top" alt="...">
          <img src="/shmemes/static/feed/feed-images/glaza.gif" class="otmetki" alt="...">
          <img src="/shmemes/static/feed/feed-images/dislike.svg" class="otmetki" alt="...">
          <img src="/shmemes/static/feed/feed-images/like.svg" class="otmetki" alt="...">
        </div>
        <div class="card-body">
          <p class="card-text">Владимир Владимирович</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mx-auto">
        <div class="div-img">
          <img src="https://s2.best-wallpaper.net/wallpaper/3840x2160/1812/Philadelphia-Benjamin-Franklin-Bridge-river-sunset-USA_3840x2160.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <p class="card-text">Владимир Владимирович</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mx-auto">
        <div class="div-img">
          <img src="https://e7.pngegg.com/pngimages/73/824/png-clipart-trollface-trollface.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <p class="card-text">Владимир Владимирович</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mx-auto">
        <div class="div-img">
          <img src="http://www.quickmeme.com/img/43/43eaabace366a40307922e9973737a9c7511a648395268939c3008e0b81095f9.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <p class="card-text">Владимир Владимирович</p>
        </div>
      </div>
    </div>
  </div>
</div>
<img src="/shmemes/static/feed/feed-images/glaza.gif" class="otmetki" alt="...">
{% endblock %}