.post-img {
    max-height: 25rem;
    max-width: 25rem;

    display: flex;
    align-items: center;
    
    margin: 0 auto;

    overflow: hidden;
}

.post-img img {
    width: 100%;
    height: auto;
}   