/* .post-img {
    max-height: 25rem;
    max-width: 25rem;

    display: flex;
    align-items: center;
    
    margin: 0 auto;

    overflow: hidden;
}

.post-img img {
    width: 100%;
    height: auto;
}    */

.row{
    padding-top:5%;
}

.card{
    max-width:40rem;
    max-height:45rem;
}

.div-img{
    max-height: 37rem;
    max-width: 37rem;

    display: flex;
    align-items: center;
    
    margin: 0 auto;

    overflow: hidden;
}

.card-img-top{
    width:100%;
    height:auto;
}

.otmetki{
    position:absolute;
    width:10%;
    height:10%;
    opacity:0;
}

.like{
    margin-left:80%;
}

.comment{
    margin-top:40%;
    margin-left:40%;
}

.div-img:hover .like{
    opacity:1;
}

.div-img:hover .dislike{
    opacity:1;
}

.div-img:hover .comment {
    opacity:1;
}

.div-img:hover .card-img-top{
    filter: blur(5px)
}