{% extends 'base.html' %}
{% load static %}

{% block title %} Загрузить мем {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'uploader/uploader.css' %}">
{% endblock %}

{% block content %}
{% include '_navbar.html' %}

<form method="post" action="{% url 'uploader:publish' %}" enctype="multipart/form-data">
    <div class="d-inline-flex flex-column">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Опубликовать</button>
    </div>
</form>
{% endblock %}