{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'user/form.css' %}">
{% endblock %}

{% block content %}
<div class="d-inline-flex flex-column">
    <input class="p-2 m-2" id="username" type="text" placeholder="Логин">
    <input class="p-2 m-2" id="password" type="password" placeholder="Пароль">

    <button class="p-2 m-2" onclick="login()">Войти</button>
    <a class="p-2" href="/user/register/">Впервые у нас?</a>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'user/script.js' %}"></script>
{% endblock %}