{% extends 'base.html' %}
{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'user/user.css' %}"> {% endblock %}
{% block title %} Страница пользователя {% endblock %}
{% block content %}
{% include '_navbar.html' %}
<div class="container">
    <div class="column">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="container">
                            <div class="column">
                                <div class="col">
                                    <img class="rounded mx-auto d-block" src="https://www.meme-arsenal.com/memes/9920c919d479c5d1275c84761b9e22ba.jpg" alt="photo" width: 10%>
                                </div>
                                <div class="col">
                                    {{ user }}
                                </div>
                                <div class="col">
                                    Описание
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Постов
                            <span class="badge bg-primary rounded-pill">1</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Лайков
                            <span class="badge bg-primary rounded-pill">98</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Дизлайков
                                <span class="badge bg-primary rounded-pill">2</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Комментариев
                                <span class="badge bg-primary rounded-pill">12</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <span class="border border-info">
                <img class="rounded mx-auto d-block" src="https://sun4-10.userapi.com/impg/sGW9OuLxEkkxlXb3rzSW-nZ3rC5qAwHDpQUnuA/CdjyP-ulkPE.jpg?size=675x617&quality=95&sign=80757a15d2dc47902bb8df6cafc0361c&type=album" alt="politex">
            </span>
        </div>
    </div>
</div>
{% endblock %}