{% extends 'base.html' %}

{% block title %} Страница пользователя {% endblock %}
{% block content %}
    <div class="left-item">ПРОФИЛЬ</div>
    <div class="left-item">ЗАГРУЗИТЬ</div>
    <div class="left-item">МЕМЫ</div>
{% endblock %}
{% block content %}
    <div class="feed"></div>
{% endblock %}
{% block content %}
    <div class="user">
        <di class="icon"></div>
        <div class="name">{{ user }}</div>
        <div class="numberOfPosts"></div>
        <div class="status"></div>
        <button>РЕДАКТИРОВАТЬ ПРОФИЛЬ</button>
        <button>ВЫХОД</button>
    </div>
{% endblock %}