{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="items">
        <input class="item" id="username" type="text" placeholder="Придумайте логин">
        <input class="item" id="password" type="password" placeholder="Придумайте пароль">

        <button class="item" onclick="register()">Зарегистрироваться</button>
        <a class="item" href="/user/login/">Уже есть аккаунт?</a>
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'user/script.js' %}"></script>
{% endblock %}