{% extends 'base.html' %}
{% load static %}

{% block styles %} 
<link rel="stylesheet" href="{% static 'user/form.css' %}">
{% endblock %}

{% block content %}
    <div class="d-inline-flex flex-column">
        <input class="p-2 m-2" id="username" type="text" placeholder="Придумайте логин">
        <input class="p-2 m-2" id="password" type="password" placeholder="Придумайте пароль">

        <button class="p-2 m-2" onclick="register()">Зарегистрироваться</button>
        <a class="p-2 m-1" href="/user/login/">Уже есть аккаунт?</a>
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'user/script.js' %}"></script>
{% endblock %}